<section class="clients" id="clients">
	<div class="container">
		<h4 class="clients__title">
			Наши клиенты
		</h4>
		<div class="clients__image">
			<img src="{{clients}}" alt="clients">
		</div>
		<div class="clients__clients">

			<!-- start client item -->
			<div class="clients__item">
				<div class="clients__item__title">Наемные рабочие</div>
				<div class="clients__item__descr">
					<p>
						Наемные рабочие, которые хотят приобрести спец. оборудование для возможности проведения разообразных работ или взять ссуду под личные нужды.
					</p>
				</div>
			</div>
			<!-- end client item -->

			<!-- start client item -->
			<div class="clients__item">
				<div class="clients__item__title">Бизнесмены</div>
				<div class="clients__item__descr">
					<p>
						Бизнесмены, частные предприниматели, которые нуждаются в денежных средствах, для создания, расширения своего бизнеса или хотят взять ссуду под личные нужды.
					</p>
				</div>
			</div>
			<!-- end client item -->

			<!-- start client item -->
			<div class="clients__item">
				<div class="clients__item__title">Для стартапов</div>
				<div class="clients__item__descr">
					<p>
						Специалисты, иследователи, которые занимаются разработкой в сферах IT и других. Нуждаются в базовом капитале, для своего стартапа или хотят взять ссуду под личные нужды.
					</p>
				</div>
			</div>
			<!-- end client item -->

		</div>
	</div>
</section>