<section class="service" id="services">
	<!-- <div class="container"> -->
		<h2 class="service__title">Наши услуги</h2>
		
		<!-- start service container -->
		<div class="service__services">

		<!-- start item sevice -->
			<div class="service__item">
				<h3 class="service__item__title">
					НЕ БАНКОВСКАЯ
					БЫСТРАЯ ССУДА
				</h3>
				<div class="service__item__subtitle">
					Быстрая внебанковская ссуда до <span>20000&#8362;</span> на 18 платежей.
				</div>
				<div class="service__item__limit">
					до <span class="number_count" data-count="20000">20000</span>&#8362;
				</div>
				<ul class="service__item__list">
					<li>Подготовка заявки на ссуду;</li>
					<li>Перевод просьбы о получении ссуды во многие финансовые компании;</li>
					<li>Перевод копии просьбы о получении ссуды клиенту;</li>
					<li>Обращения к клиенту в течении <span>72-х</span> часов.</li>
				</ul>
				<a href="form.html" class="service__item__button" onclick="gtag('event', 'clickdopphone', { 'event_category': 'Knopka3', 'event_action': 'Najatie3', });"><span>Оформить заявку</span></a></div>
			<!-- end item sevice -->

		<!-- start item sevice -->
			<div class="service__item">
				<h3 class="service__item__title">
					БАНКОВСКАЯ ССУДА 
					ДЛЯ ЛЮБОЙ ЦЕЛИ
				</h3>
				<div class="service__item__subtitle">
					Ссуды на ремонт, закрытие долга, образования и т.д. до <span>100000&#8362;</span> на 60 платежей.
				</div>
				<div class="service__item__limit">
					до <span class="number_count" data-count="100000">100000</span>&#8362;
				</div>
				<ul class="service__item__list">
					<li>Подготовка заявки на ссуду;</li>
					<li>Перевод просьбы о получении ссуды во многие финансовые компании;</li>
					<li>Перевод копии просьбы о получении ссуды клиенту;</li>
					<li>Обращения к клиенту в течении <span>72-х</span> часов.</li>
				</ul>
				<a href="form.html" class="service__item__button" onclick="gtag('event', 'clickdopphone', { 'event_category': 'Knopka4', 'event_action': 'Najatie4', });"><span>Оформить заявку</span></a></div>
			<!-- end item sevice -->

		<!-- start item sevice -->
			<div class="service__item">
				<h3 class="service__item__title">
					ССУДА НА ПОКУПКУ
					МАШИНЫ
				</h3>
				<div class="service__item__subtitle">
					Сопровождение в выборе ТС, получение скидки при покупке <span>100%</span> финансирование по льготным процентным ставкам.
				</div>
				<div class="service__item__limit">
					до <span class="number_count" data-count="100">100</span>% финансирования
				</div>
				<ul class="service__item__list">
					<li>Приобретение машины;</li>
					<li>Скидка при страховании автомобиля;</li>
					<li>Личное сопровождения впредь до получения машины;</li>
					<li>Обращения к клиенту в течении <span>72-х</span> часов.</li>
				</ul>
				<a href="form.html" class="service__item__button" onclick="gtag('event', 'clickdopphone', { 'event_category': 'Knopka5', 'event_action': 'Najatie5', });"><span>Оформить заявку</span></a></div>
			<!-- end item sevice -->

		<!-- </div> -->
		<!-- start service container -->
	</div>
	<!-- end container -->
</section>