<section class="steps">
	<div class="container">
		<h4 class="steps__title">Этапы оформления</h4>
		<div class="steps__steps">


			<!-- start step item -->
			<div class="steps__item">
				<div class="steps__img">
					<img src="{{step1}}" alt="step1">
				</div>
				<div class="steps__descr">
					<span>шаг 1</span>
					<p>
						Оформляете заявку на сайте
					</p>
				</div>
			</div>
			<!-- end step item -->

			<!-- start step item -->
			<div class="steps__item">
				<div class="steps__img">
					<img src="{{step2}}" alt="step1">
				</div>
				<div class="steps__descr">
					<span>шаг 2</span>
					<p>
						Получаете предложения от финансирующих компаний и банков.
					</p>
				</div>
			</div>
			<!-- end step item -->

			<!-- start step item -->
			<div class="steps__item">
				<div class="steps__img">
					<img src="{{step3}}" alt="step1">
				</div>
				<div class="steps__descr">
					<span>шаг 3</span>
					<p>
						Сравниваете предложения, и выбираете выгодное для Вас.
					</p>
				</div>
			</div>
			<!-- end step item -->


		</div>
	</div>
</section>