{% import "partials/_mixins.html" as mixins %}
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% if title %}{{ title }}{% else %}Template{% endif %}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#fff">
    <meta name="format-detection" content="telephone=no">
    <meta property="og:title" content="Помошь в получении кредита - CreditPlus
    Профессиональная помошь в оформлении кредита. Сумма до 100 000 шекелей. CreditPlus (Кредит Плюс)">
    <link rel="stylesheet" media="all" href="css/app.css?ver=8">
    {# {% include "../partials/_media-tags.html" %} #}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-109657987-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-109657987-1');
    </script>
  </head>
  <body>

    <!-- BEGIN content -->
    <div class="main_wrapper">
      {% block content %}{% endblock %}
    </div>
    <!-- END content -->

    <!-- BEGIN scripts -->
    <script type="text/javascript" src="js/app.js?ver=7" defer></script>
    <!-- <script type="text/javascript" src="lib/timer.js" defer></script> -->
    <!-- END scripts -->

  </body>
</html>
