.icon-call_back {
  width: 1em;
  height: 1em;
  fill: #FFDA44;
}
.icon-closer {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-phone {
  width: 1em;
  height: 1em;
  fill: initial;
}
